.CalendarCallout{
    box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 38px 6px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
    max-height: auto !important;
    height: auto;
}
.ms-Callout-beakCurtain,.ms-Callout-main,.CalendarCallout{
    border-radius: 9px;
}
.EventsModalBox{
    width: 448px;
    display: flex;
    flex-direction: column;
}
.PreEventsModalTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 8px;
    height: 34px;
    background-color: rgb(241,243,244);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.PreEventsModalBody{
    margin-top: 34px;
    padding: 2px 16px;
    margin-left: 48px;
}
.PreEventsModalButtom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 16px 16px;
}
.PreEventsModalTitle{
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 8px 16px 4px 1px;
    margin-top: 8px;
    color: #3c4043;
    border-bottom: 1px solid rgb(218,220,224);
    user-select: none;
    font-size: 22px;
    width: 100%;
}
.PreEventsModalBodyRowBox{
    width: 100%;
    height: 32px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.PreEventsModalBodyin{
    margin: 16px 0 16px -8px;
}
.PreEventsModalBodyIconBox{
    position: relative;
    padding-bottom: 1px;
    width: 100%;
}
.PreEventsModalBodyIcon{
    left: -38px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    font-size: 18px;
    position: absolute;
}
.dateDivider{
    width: 6px;
    height: 1px;
    background-color: #212121;
}
.TextDatePicker{
    height: 100%;
    color: #212121;
}
.TextDatePicker .ms-TextField-fieldGroup{
    border: none;
    border-radius: 3px;
}
.TextDatePicker *{
    background-color: transparent;
}
.TextDatePicker:hover{
    background-color: rgb(241,243,244);
}
.ms-TextField-field{
    padding: 0 36px 0 8px;
}
.PreEMBbtn{
    height: 100%;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color linear .08s;
    font-size: 13px;
}
.PreEMBbtn:hover{
    background-color: rgb(241,243,244);
}
.PreEMBtext{
    flex: 1;
    outline: none;
    border: none;
    height: 36px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px 16px 4px 8px;
    font-size: 14px;
}
.PreEMBtext:hover{
    background-color: rgb(241,243,244);
}
.PreEMBtext:focus{
    cursor: text;
}
.PreEMBdivider{
    width: 448px;
    height: 1px;
    background-color: #e8e8e9;
    margin-left: -56px;
    margin-right: -16px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.inputUnderline{
    position: relative;
    box-sizing: border-box;
    height: 100%;
}
.inputUnderline:focus-within::before,.inputUnderline:active::before{
    width: 100%;
    left: 0;
    opacity: 1;
}
.inputUnderlineBGK:focus-within{
    border-radius: 3px;
    background-color: rgb(241,243,244);
}
.inputUnderline::before{
    content: '';
    opacity: 0;
    position: absolute;
    bottom: -1px;
    left: 45%;
    width: 10%;
    height: 2px;
    background-color: #1a73e8;
    transition: all linear .12s;
    z-index: 1;
}
.PreEventsModalBodyRowBox .MuiFormControlLabel-label{
    font-size: 14px;
}
.EventsModalBox .ms-ComboBox{
    outline: none;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 13px;
    padding: 0;
    border-radius: 3px;
    width: 68px;
    margin: 0 2px;
}
.EventsModalBox .ms-ComboBox:hover{
    background-color: rgb(241,243,244);
}
.EventsModalBox .ms-ComboBox::after{
    display: none;
}
.EventsModalBox .ms-ComboBox>input{
    outline: none;
    border: none;
    height: 100%;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 13px;
}
.EventsModalBox .ms-ComboBox>button{
    display: none;
}
.ms-Dropdown-title{
    outline: none;
    border: none !important;
    height: 100%;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 13px;
}
.ms-Dropdown:focus::after{
    display: none;
}
.ms-Callout.ms-ComboBox-callout{
    margin-top: 2px;
    max-height: 264px !important;
    width: auto !important;
}